<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>房源详情</title>
    <link rel="stylesheet" type="text/css" href="static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/iview.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/vuetify.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- <link rel="stylesheet" type="text/css" href="static/css/animate.min.css" /> -->

    <!-- <link rel="stylesheet" type="text/css" href="static/css/quasar.min.css" /> -->
</head>

<style>
    [v-cloak]{
 display: none;
}
.box{
    box-sizing: border-box;
    padding: 0 15vw;
}
.card-body{
    padding: 0 1.25rem
}
.v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
		height: 3vw
	}

	.col {
		display: flex;
		justify-content: center;
		align-items: center
	}

	.v-btn__content {
		font-size: 1.2rem
    }
    .v-sheet.v-footer{
		display: flex;
		justify-content: center
	}
    .indigo{
		background-color: #5c6bc0 !important; 
		border-color: #5c6bc0 !important;
    }
    a{
        color: white
    }
</style>
<body>
    <div id="app" class="" v-cloak>
            
        <!-- 头部 -->
        <div class="row header">
            <div class="left   col-sm-0 col-md-3 col-lg-5">
				<div class="">
					<img class="logo" src="./static/img/logo.png" alt="" title="安广·规上古">
				</div>
			</div>
			<div class="right  col-sm-9 col-md-7 col-lg-5">
				<v-row>
					<v-col>
						<v-btn-toggle v-model="text" tile color="deep-purple accent-3" group>
							<v-btn :value="url.title" v-for='(url,index) in toUrl' :key='index'>
								<a :href="url.url">{{url.title}}</a>
							</v-btn>

							

						</v-btn-toggle>
					</v-col>
				</v-row>
			</div>
			<div class="login  col-sm-1 col-md-1 col-lg-2 col-xl-1">
				<v-row>
					<v-col>
						<v-btn-toggle v-model="text" tile color="deep-purple accent-3" group>
							<v-btn v-if="!user" value="登录" @click='toLogin'>
								注册登录
							</v-btn>
							<span style="display: flex;
							align-items: center;color: white;" v-if="user">{{user}} </span>
							<v-btn v-if="user" value="退出" @click='out'>
                                    <span style="font-size:0.8rem">退出</span>
							</v-btn>
						</v-btn-toggle>
					</v-col>
				</v-row>
			</div>
        </div>

        <div class="box">
                <v-app>
            <!-- 轮播 -->
            <div >
                    <Carousel 
                        autoplay
                         v-model="carousel" 
                         loop
                         :autoplay-speed='3000'
                         >
                            <Carousel-Item v-for='(item,index) in detail.imgList' :key='index'>
                                <div class="demo-carousel">
                                        <img style="max-width:100%;margin:0 auto" :style="{height:carouselHeight + 'vw'}" :src="item" class="" alt="轮播图片">
                                </div>
                            </Carousel-Item>
                            
                        </Carousel>
                </div>

            <!-- 详情 -->
            <div>
                <Divider></Divider>
                <div class="intro">
                    <div class="card-body">
                        <p class="title">
                            {{detail.title}}
                        </p>
                        <p class="card-text">
                            简介： {{detail.brief}}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="price">
                                ￥: {{detail.price}} 元
                            </p>
                            <div class="other d-flex justify-content-between" >
                                    <small class="text-muted">押付：{{detail.deposittype}}</small>
                                    <small class="text-muted">面积：{{detail.area}} /m²</small>
                                    <small class="text-muted">楼层：{{detail.code}} /
                                        {{detail.floortotal}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <Divider>详情介绍</Divider>
                <div class="detail">
                        <div class="noData" v-if='!detail.detail'>暂无介绍</div>
                        <div class="video" v-if='detail.video'>
                            <video  :src="detail.video" controls  ></video>
                        </div>
                        <div class="content">
                                {{detail.detail}}
                        </div>
                </div>


                <v-footer
					padless
				  >
					<v-card
					  flat
					  tile
					  class="indigo lighten-1 white--text text-center"
					>
					  <v-divider></v-divider>
					  <v-card-text class="white--text " style="width:100%">
						{{ new Date().getFullYear() }} — <strong>安广 · 规上古</strong>
					  </v-card-text>
					</v-card>
                  </v-footer>
                </v-app>
            </div>
        </div>

        <div class="mask" v-if="showMask">
				<view class="loader loading8">
						<view class="loader-pacman"></view>
					  </view>
					  <span>加载中</span>
        </div>
        
    </div>

    <script src="static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/iview.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/vuetify.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/request.js" type="text/javascript" charset="utf-8"></script>


    <script type="text/javascript">
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: function () {
                return {
                    showMask:true,
                    detail: '',
                    carousel:0,
                    carouselHeight: '',
                    text: 'center',
					toUrl: [{
							title: '众创空间',
							url: 'index.html'
						},
						{
							title: '规上古头条',
							url: 'news.html'
						},
						{
							title: '环保科技链',
							url: 'links.html'
						},
						{
							title: '企业服务',
							url: 'services.html'
						},

					],
                    user:'',
                }
            },
            created() {
                this.getCHeight();
                this.checkStorage()
            },
            mounted() {
                // this.init();
                this.getID();
                this.showMask = false
            },

            methods: {
                getCHeight() {
                    this.carouselHeight = (window.innerHeight - 100) / 100 * (window.innerHeight - 100) / 170;
                },
                getID() {
                    let params = location.search.substring(1);
                    let values = params.split('&');
                    for (let i = 0; i < values.length; i++) {
                        let pos = values[i].indexOf('=');
                        if (pos == -1) continue;
                        let paramsName = values[i].substring(0, pos);
                        let id = values[i].substring(pos + 1)
                        this.init(id);
                    }
                },

                init(id) {
                    // console.log(id);
                    let postData = {
                        Function: 'GetHousingStock',
                        id: id
                    };
                    // postData = JSON.stringify(postData);
                    Post('/api/Incubator/APIMethod', postData)
                        .then(res => {
                            console.log(res);
                            this.detail = res.data.data;
                            // console.log(this.itemData);

                        })
                        .catch(err => {
                            console.log(err)
                        })
                },

                toLogin(){
					window.open('login.html','_self')
				},
				out() {
					localStorage.removeItem('userInfo');
					this.user = ''
				},

				checkStorage() {
					let userInfo = JSON.parse(localStorage.getItem('userInfo'));
					console.log(userInfo);
					if (userInfo) {
						if (Date.now() - userInfo.time < 7200000)
							this.user = userInfo.user;
						else localStorage.removeItem('userInfo');
					}
				}

            }
        })
        
    </script>
</body>

</html>