<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>房源详情</title>
    <link rel="stylesheet" type="text/css" href="static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/iview.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- <link rel="stylesheet" type="text/css" href="static/css/animate.min.css" /> -->

    <!-- <link rel="stylesheet" type="text/css" href="static/css/quasar.min.css" /> -->
</head>

<style>
    [v-cloak]{
 display: none;
}
.box{
    box-sizing: border-box;
    padding: 0 15vw;
}
.card-body{
    padding: 0 1.25rem
}
</style>
<body>
    <div id="app" class="" v-cloak>
        <!-- 头部 -->
        <div class="row header">
            <div class="left col-4 col-sm-5 col-md-5 col-lg-5">
                <div class="">
                    <img class="logo" src="./static/img/logo.png" alt="" title="安广·规上古">
                </div>
            </div>
            <div class="right col-8 col-sm-7 col-md-7 col-lg-7">
                <nav class="nav nav-pills">
                    <a class="nav-link active" href="./index.html">创客空间</a>
                    <a class="nav-link " href="./news.html">规上古头条</a>
                    <a class="nav-link" href="./links.html">环保科技链</a>
                    <a class="nav-link " href="./services.html">企业服务</a>
                </nav>
            </div>
        </div>

        <div class="box">
            <!-- 轮播 -->
            <div >
                    <Carousel 
                        autoplay
                         v-model="carousel" 
                         loop
                         :autoplay-speed='3000'
                         >
                            <Carousel-Item v-for='(item,index) in detail.imgList' :key='index'>
                                <div class="demo-carousel">
                                        <img style="max-width:100%" :style="{height:carouselHeight + 'px'}" :src="item" class="" alt="轮播图片">
                                </div>
                            </Carousel-Item>
                            
                        </Carousel>
                </div>

            <!-- 详情 -->
            <div>
                <Divider></Divider>
                <div class="intro">
                    <div class="card-body">
                        <p class="title">
                            {{detail.title}}
                        </p>
                        <p class="card-text">
                            简介： {{detail.brief}}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="price">
                                ￥: {{detail.price}} 元
                            </p>
                            <div class="other d-flex justify-content-between" >
                                    <small class="text-muted">押付：{{detail.deposittype}}</small>
                                    <small class="text-muted">面积：{{detail.area}} /m²</small>
                                    <small class="text-muted">楼层：{{detail.code}} /
                                        {{detail.floortotal}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <Divider>详情介绍</Divider>
                <div class="detail">
                        <div class="noData" v-if='!detail.detail'>暂无介绍</div>
                        <div class="video" v-if='detail.video'>
                            <video  :src="detail.video" controls  ></video>
                        </div>
                        <div class="content">
                                {{detail.detail}}
                        </div>
                </div>
                <Divider>end</Divider>
            </div>
        </div>
    </div>











    <script src="static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/iview.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/request.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/quasar.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/zh-hans.min.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: function () {
                return {
                    detail: '',
                    carousel:0,
                    carouselHeight: ''
                }
            },
            created() {
                this.getCHeight();
            },
            mounted() {
                // this.init();
                this.getID();
            },

            methods: {
                getCHeight() {
                    this.carouselHeight = window.innerHeight - 100;
                },
                getID() {
                    let params = location.search.substring(1);
                    let values = params.split('&');
                    for (let i = 0; i < values.length; i++) {
                        let pos = values[i].indexOf('=');
                        if (pos == -1) continue;
                        let paramsName = values[i].substring(0, pos);
                        let id = values[i].substring(pos + 1)
                        this.init(id);
                    }
                },

                init(id) {
                    // console.log(id);
                    let postData = {
                        Function: 'GetHousingStock',
                        id: id
                    };
                    // postData = JSON.stringify(postData);
                    Post('/api/Incubator/APIMethod', postData)
                        .then(res => {
                            console.log(res);
                            this.detail = res.data.data;
                            // console.log(this.itemData);

                        })
                        .catch(err => {
                            console.log(err)
                        })
                },

            }
        })
        
    </script>
</body>

</html>