<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>环保科技链详情</title>
    <link rel="stylesheet" type="text/css" href="static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/iview.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/vuetify.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- <link rel="stylesheet" type="text/css" href="static/css/animate.min.css" /> -->

    <!-- <link rel="stylesheet" type="text/css" href="static/css/quasar.min.css" /> -->
</head>
<style>
    [v-cloak] {
        display: none;
    }

    .box {
        box-sizing: border-box;
        /* padding: 0 15vw; */
        flex-direction: column;
        display: flex;
        align-items: center
    }

    .card-body {
        padding: 0 1.25rem
    }

    .v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
        height: 3vw
    }

    .col {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .v-btn__content {
        font-size: 1.2rem
    }

    .v-sheet.v-footer {
        display: flex;
        justify-content: center
    }

    .indigo {
        background-color: #5c6bc0 !important;
        border-color: #5c6bc0 !important;
    }

    a {
        color: antiquewhite
    }
</style>

<body>
    <div id="app" class="" v-cloak>

        <!-- 头部 -->
        <div class="row header">
            <div class="left   col-md-2 col-lg-3 col-xl-4">
                <div class="">
                    <img class="logo" src="./static/img/logo.png" alt="" title="安广·规上谷">
                </div>
            </div>
            <div class="right  col-sm-10 col-md-8 col-lg-7 col-xl-6">
                <div class="menu1">
                    <a href="index.html">众创空间</a>
                    <a href="news.html">规上谷头条</a>

                    <a class="active" href="links.html">环保科技链</a>
                    <a href="services.html">企业服务</a>
                    <a href="require.html"> 我有需求</a>
                </div>
            </div>
            <div class="login  col-sm-2  col-md-2 col-lg-2 col-xl-2">
                <div class="menu1">
                    <a v-if="!user" style="color: white;font-size:0.8rem;" @click='toLogin'>注册登录</a>
                    <span style="display: flex;
							align-items: center;color: white;margin-right: 10px" v-if="user">{{user}} </span>

                    <span v-if="user" @click='out' style="font-size:0.8rem;color: gray">退出</span>
                </div>
            </div>
        </div>

        <div class="box">

            <!-- 轮播 -->
            <div class="col-lg-1 col-xl-2"></div>
            <div class="col-sm-12 col-md-auto col-lg-10 col-xl-8 ">
                <div>
                    <Carousel autoplay v-model="carousel" loop :autoplay-speed='3000' arrow='never'>
                        <Carousel-Item v-for='(item,index) in detail.swiperList' :key='index'>
                            <div class="demo-carousel">
                                <img style="width:100%;margin: 0 auto" :style="{height:carouselHeight + 'px'}"
                                    :src="item" class="" alt="轮播图片">
                            </div>
                        </Carousel-Item>

                    </Carousel>
                    <!-- <v-carousel 
						cycle  :style="{height:carouselHeight + 'vw'}"
						hide-delimiter-background 
						:show-arrows="false" 
						:interval='3000'
						>
							<v-carousel-item  :style="{height:carouselHeight + 'vw'}" v-for='(item,index) in detail.swiperList' :key='index' >
                                    <img style="width:100%;margin:0 auto" :style="{height:carouselHeight + 'vw'}"
                                    :src="item" class="" alt="轮播图片">
								 <v-sheet  height="100%">
									<v-row class="fill-height" align="center" justify="center">
										 <div class="display-3">{{ slide }} Slide</div> 
										<img style="width:100%;margin:0 auto" :style="{height:carouselHeight + 'vw'}"
										:src="item" class="" alt="轮播图片">
									</v-row>
									
								</v-sheet> 
							</v-carousel-item>
						</v-carousel> -->
                </div>
                <Divider></Divider>
                <div class="news">
                    <p class="title">{{detail.title}}</p>

                    <div class="p_time">
                        <span>负责人：{{detail.linkName}}</span>
                        <span style="margin-left:10px">联系电话：{{detail.linkPhone}}</span>
                    </div>
                    <!-- <img class="newsImg" :src="detail.img" alt=""> -->
                    <div class="m-divider">
                        <p></p>
                        <span>产品介绍</span>
                        <p></p>
                    </div>

                    <div class="news-detail">
                        {{detail.product}}
                    </div>

                    <div class="m-divider">
                        <p></p>
                        <span>公司介绍</span>
                        <p></p>
                    </div>
                    <div class="news-detail">
                        {{detail.detail}}
                    </div>

                </div>

                <v-footer padless>
                    <v-card flat tile class="indigo lighten-1 white--text text-center">
                        <v-divider></v-divider>
                        <v-card-text class="white--text " style="width:100%">
                            {{ new Date().getFullYear() }} — <strong>安广 · 规上谷</strong>
                        </v-card-text>
                    </v-card>
                </v-footer>


            </div>

        </div>
        <div class="col-lg-1 col-xl-2"></div>
        <div class="mask" v-if="showMask">
            <view class="loader loading8">
                <view class="loader-pacman"></view>
            </view>
            <span>加载中</span>
        </div>

    </div>


    <script src="static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/iview.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/vuetify.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/request.js" type="text/javascript" charset="utf-8"></script>


    <script type="text/javascript">
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: function () {
                return {
                    showMask: true,
                    carousel: 0,
                    detail: '',
                    carouselHeight: '',
                    text: 'center',
                    toUrl: [{
                            title: '众创空间',
                            url: 'index.html'
                        },
                        {
                            title: '规上谷头条',
                            url: 'news.html'
                        },
                        {
                            title: '环保科技链',
                            url: 'links.html'
                        },
                        {
                            title: '企业服务',
                            url: 'services.html'
                        },

                    ],
                    user: '',
                }
            },
            created() {
                this.getCHeight();
                this.getID();
                this.checkStorage()
            },
            mounted() {
                // this.init();
                this.showMask = false
            },

            methods: {
                getCHeight() {
                    this.carouselHeight = window.innerHeight * 0.7;
                },
                getID() {
                    let params = location.search.substring(1);
                    let values = params.split('&');
                    for (let i = 0; i < values.length; i++) {
                        let pos = values[i].indexOf('=');
                        if (pos == -1) continue;
                        let paramsName = values[i].substring(0, pos);
                        let id = values[i].substring(pos + 1)
                        this.init(id);
                    }
                },

                init(id) {
                    let postData = {
                        Function: 'GetIndustryService',
                        id: id
                    };
                    Post('/api/Incubator/APIMethod', postData)
                        .then(res => {
                            console.log(res);
                            this.detail = res.data.data;

                        })
                        .catch(err => {
                            console.log(err)
                        })
                },

                toLogin() {
                    window.open('login.html', '_self')
                },
                out() {
                    localStorage.removeItem('userInfo');
                    this.user = ''
                },

                checkStorage() {
                    let userInfo = JSON.parse(localStorage.getItem('userInfo'));
                    console.log(userInfo);
                    if (userInfo) {
                        if (Date.now() - userInfo.time < 7200000)
                            this.user = userInfo.user;
                        else localStorage.removeItem('userInfo');
                    }
                }

            }
        })
    </script>

</body>

</html>