<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>头条</title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css" />
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/iview.min.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!-- <link rel="stylesheet" type="text/css" href="static/css/animate.min.css" /> -->

	<!-- <link rel="stylesheet" type="text/css" href="static/css/quasar.min.css" /> -->
</head>

<style>
	[v-cloak]{
 display: none;
}
	body{
		overflow-y: auto
	}
.ivu-tabs-nav-scroll{
	display: flex;
	align-items: center;
	justify-content: center
}
.ivu-list-split .ivu-list-item:last-child{
	border-bottom: 1px solid #afb2b8
}
.ivu-tabs-bar{
	margin-bottom: 0
}
.ivu-list-item{
	padding: 0 0 12px 0
}
</style>

<body>
	<div id="app" class="" v-cloak>
		<div class="row header">
			<div class="left col-4 col-sm-5 col-md-5 col-lg-5">
				<div class="">
					<img class="logo" src="./static/img/logo.png" alt="" title="安广·规上古">
				</div>
			</div>
			<div class="right col-8 col-sm-7 col-md-7 col-lg-7">
				<nav class="nav nav-pills">
					<a class="nav-link " href="./index.html">创客空间</a>
					<a class="nav-link active" href="./news.html">规上古头条</a>
					<a class="nav-link" href="./links.html">环保科技链</a>
					<a class="nav-link " href="./services.html">企业服务</a>
				</nav>
			</div>
		</div>
		<div class="box">
				<!-- <Divider></Divider> -->
				<Tabs value="name1">
						<Tab-Pane label="政策" name="name1">
								<List item-layout="vertical">
										<List-Item  v-for="(item,index) in policy" :key="index" >
											<div class="item" @click='detail(item.nid)'>
												<img :src="item.img" v-if='item.img' style="width: 15vw;height:8vw;border-radius: 10px;padding: 2px">
												<div class="right">
													<p class="title">{{item.title}}</p>
													<div class="p_time">
														<span>发布者：{{item.publisher}}</span>
														<span>发布时间：{{item.p_time}}</span>
													</div>
													<div class="content">
														{{item.detail}}
													</div>
												</div>
											</div>
										</List-Item>
										<Divider>end</Divider>
									</List>
						</Tab-Pane>

						<Tab-Pane label="资讯" name="name2">
								<List item-layout="vertical">
										<List-Item  v-for="(item1,index1) in news" :key="index1" >
												<div class="item" @click='detail(item1.nid)'>
												<img :src="item1.img" style="width: 15vw;height:10vw;border-radius: 10px;padding: 2px">
												<div class="right">
													<p class="title">{{item1.title}}</p>
													<div class="p_time">
														<span>发布者：{{item1.publisher}}</span>
														<span>发布时间：{{item1.p_time}}</span>
													</div>
													<div class="content">
														{{item1.detail}}
													</div>
												</div>
												</div>
										</List-Item>
										<Divider>end</Divider>
									</List>
						</Tab-Pane>
				</Tabs>
		</div>
    </div>
	

    <script src="static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/iview.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/request.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/quasar.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/zh-hans.min.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">

		new Vue({
			el: '#app',
			data: function () {
				return {
					policy:[],
					news:[],
                
				}
			},
			created(){
				this.init();
			},
			mounted() {
				
			},
			methods: {
				init() {
					let postData = {
						Function: 'GetHeadlineList',
						page: 1,
						rows: 10,
					};
					// postData = JSON.stringify(postData);
					Post('/api/Incubator/APIMethod', postData)
						.then(res => {
							console.log(res);
							this.policy = res.data.data[0].detail;
							this.news = res.data.data[1].detail;

						})
						.catch(err => {
							console.log(err)
						})
				},

				detail(id) {
					console.log(id);
					let url = 'newsDetail.html' + '?id=' + id;
					window.open(url, )
				}
			}
        })
        
        
	</script>
</body>

</html>