<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<title>企业服务</title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css" />
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/iview.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/vuetify.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/materialdesignicons.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!-- <link rel="stylesheet" type="text/css" href="static/css/animate.min.css" /> -->

	<!-- <link rel="stylesheet" type="text/css" href="static/css/quasar.min.css" /> -->
</head>

<style>
	[v-cloak] {
		display: none;
	}

	.box {
		box-sizing: border-box;
		/* padding: 0 15vw; */
		flex-direction: column;
    display: flex;
    align-items: center
	}

	.v-application--wrap {
		min-height: 60vh;
	}

	.v-application p {
		margin-bottom: 0;
	}

	.v-btn--fab.v-size--default {
		width: 3vw;
		height: 3vw;
		min-width: 30px;
		min-height: 30px;
	}

	.v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
		height: 3vw
	}

	.col {
		display: flex;
		justify-content: center;
		align-items: center
	}

	.v-btn__content {
		font-size: 1.2rem
	}

	.v-card__title {
		background: darkseagreen;
	}

	.basil {
		background-color: #FFFBE6 !important;
	}

	.basil--text {
		color: #356859 !important;
	}

	.v-sheet.v-footer {
		display: flex;
		justify-content: center
	}

	.indigo {
		background-color: #5c6bc0 !important;
		border-color: #5c6bc0 !important;
	}
	a{
		/* color: paleturquoise */
		color: antiquewhite
	}
	 .v-card__title{
		padding: 5px
	}
	.v-tab.v-tab{
		color: white
	}
	.v-tab--active{
		background: #5c6bc0
	}
</style>

<body>
	<div id="app" class="" v-cloak>

			<div class="row header">
					<div class="left   col-md-2 col-lg-3 col-xl-4">
						<div class="">
							<img class="logo" src="./static/img/logo.png" alt="" title="安广·规上谷">
						</div>
					</div>
					<div class="right  col-sm-10 col-md-8 col-lg-7 col-xl-6">
						<!-- <v-row>
							<v-col>
								<v-btn-toggle v-model="text" tile color="deep-purple accent-3" group>
									<v-btn :value="url.title" color="success" v-for='(url,index) in toUrl' :key='index'>
										<a :href="url.url">{{url.title}}</a>
									</v-btn>
		
									
		
								</v-btn-toggle>
							</v-col>
						</v-row> -->
						<div class="menu1">
								<a href="index.html">众创空间</a>
								<a href="news.html">规上谷头条</a>
								
								<a href="links.html">环保科技链</a>
								<a class="active"  href="services.html">企业服务</a>
								<a href="require.html"> 我有需求</a>
						</div>
					</div>
					<div class="login  col-sm-2  col-md-2 col-lg-2 col-xl-2">
							<div class="menu1">
									<a v-if="!user" style="color: white;" @click='toLogin'>注册登录</a>
									<span style="display: flex;
							align-items: center;color: white;margin-right: 10px" v-if="user">{{user}} </span>
							
							<span v-if="user"  @click='out' style="font-size:0.8rem;color: gray">退出</span>
							</div>
						<!-- <v-row>
							<v-col>
								<v-btn-toggle v-model="text" tile color="deep-purple accent-3" group>
									<v-btn v-if="!user" value="登录" @click='toLogin'>
										注册登录
									</v-btn>
									<span style="display: flex;
									align-items: center;color: white;" v-if="user">{{user}} </span>
									<v-btn v-if="user" value="退出" @click='out'>
											<span style="font-size:0.8rem">退出</span>
									</v-btn>
								</v-btn-toggle>
							</v-col>
						</v-row> -->
					</div>
				</div>
		
			<div class="box">
				
					<div class="col-lg-1 col-xl-2"></div>
					
					<div class="col-sm-12 col-md-auto col-lg-10 col-xl-8 ">
							<v-app>
				<v-card color="basil" style="width:100%">

					<v-card-title class="text-center justify-center ">
						<p class="font-weight-bold  basil--text " style="width:100%">企业服务</p>
					</v-card-title>
					
					<v-tabs vertical>
						<div ref='element'>
							<v-tab class="tab-title" v-for='(tab,index) in tabsList' :key='index'
								@click='getData(tab.id)'>
								{{tab.title}}
							</v-tab>
						</div>

						
						<v-tab-item v-for='(tab,index) in tabsList' :key='index'>
							<v-card flat>
								<div class="card" :style="{'min-height':tabHeight + 'px'}">
									<p class="title">{{tabData.category}}</p>
									<div class="text-center">
										<v-btn class="mx-2" fab dark color="teal" @click='consult(tabData.cid)'>
											<span>咨询</span>
										</v-btn>
									</div>
									<div class="link">
										<div><span>负责人：</span>{{tabData.name}}</div>
										<div><span>联系电话：</span>{{tabData.phone}}</div>
									</div>
									<img :src="tabData.img" alt="">
									<div class="m-divider">
										<p></p>
										<span>服务介绍</span>
										<p></p>
									</div>
									<div class="content">
										{{tabData.detail}}
									</div>
								</div>


							</v-card>
						</v-tab-item>

					</v-tabs>

				</v-card>
			

				<v-footer padless>
					<v-card flat tile class="indigo lighten-1 white--text text-center">
						<v-divider></v-divider>
						<v-card-text class="white--text " style="width:100%">
							{{ new Date().getFullYear() }} — <strong>安广 · 规上谷</strong>
						</v-card-text>
					</v-card>
				</v-footer>
			</div>

			<!-- 咨询框 -->
			<v-row justify="center">
				<v-dialog v-model="dialog" max-width="600px" max-height='600px'>
					
					

					<v-form ref="form" v-model="valid" lazy-validation>
						<v-card>
							<v-card-title>
								<span class="headline">咨询内容</span>
							</v-card-title>
							<div class="chat">
								<div v-if='!chatList.length' style="text-align:center">暂无对话</div>
									<div >
										<div class="message-item" v-for='(chat,i) in chatList' :key='i' :class="chat.MsgType ? 'right' : 'left' ">
											<div class="content">{{chat.MsgContent}}</div>
										</div>
									</div>
							</div>
							<v-card-text>
								<v-container>
									<v-row>

										<v-col cols="12">
											<v-text-field label="咨询类型：" disabled :placeholder='tabData.category'>
											</v-text-field>
										</v-col>
										<v-textarea v-model="tip" clearable :rules="[rules.required]"
											placeholder='请输入咨询内容(必填)' auto-grow filled color="deep-purple" label="咨询内容"
											rows="3" required>
										</v-textarea>
									</v-row>
								</v-container>
							</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="blue darken-1" text @click="dialog = false">取消</v-btn>
								<v-btn color="blue darken-1" text @click="submit(tabData.cid)">提交</v-btn>
							</v-card-actions>
						</v-card>
					</v-form>
				</v-dialog>
			</v-row>

		</v-app>
			</div>
		
			<div class="col-lg-1 col-xl-2"></div>
		
		<div class="mask" v-if="showMask">
				<view class="loader loading8">
						<view class="loader-pacman"></view>
					  </view>
					  <span>加载中...</span>
		</div>

	</div>


	<script src="static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<!-- <script src="static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script> -->
	<script src="static/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/iview.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/vuetify.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/request.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data: function () {
				return {
					showMask:true,
					tabsList: [
						'选项1', '选项2', '选项3'
					],
					tabData: '',
					tabHeight: '',
					dialog: false,
					tip: '',
					valid: true,
					rules: {
						required: v => !!v || '这是必填的内容',
					},
					text: 'center',
					toUrl: [{
							title: '众创空间',
							url: 'index.html'
						},
						{
							title: '规上谷头条',
							url: 'news.html'
						},
						{
							title: '环保科技链',
							url: 'links.html'
						},
						{
							title: '企业服务',
							url: 'services.html'
						},

					],
					chatList:[
					],
					user:'',
					phone:''

				}
			},
			created() {
				this.checkStorage()
			},
			beforeMount() {

			},
			mounted() {
				this.init();
				this.getData(32);
				this.getHeight();
				this.showMask = false;
				
			},
			methods: {
				getHeight() {
					// this.tabHeight = this.$refs.element.offsetHeight * 2;
					this.tabHeight = window.innerHeight - 240;
					console.log(this.tabHeight)
				},
				init() {
					let postData = {
						Function: 'GetEnterpriseServiceType',
						page: 1,
						rows: 10,
					};
					// postData = JSON.stringify(postData);
					Post('/api/Incubator/APIMethod', postData)
						.then(res => {
							console.log(res);
							this.tabsList = res.data.data
						})
						.catch(err => {
							console.log(err)
						})
				},
				getData(id) {
					let postData = {
						Function: 'GetEnterpriseService',
						page: 1,
						rows: 10,
						id: id
					};
					// postData = JSON.stringify(postData);
					Post('/api/Incubator/APIMethod', postData)
						.then(res => {
							console.log(res);
							this.tabData = res.data.data;
							this.getChat(id);
						})
						.catch(err => {
							console.log(err)
						})
				},
				consult(id){
					if(!localStorage.getItem('userInfo'))
					this.$Message.error('请先登录');
					else this.dialog = true;

				},
				submit(id) {
					// this.dialog = false;
					if (this.$refs.form.validate()) {
						
						// this.$refs.form.reset()
						let postData = {
						Function: 'InsertConsultation',
						id: id,
						intro: this.tip,
						openid:this.phone
					};
					// postData = JSON.stringify(postData);
					Post('/api/Incubator/APIMethod', postData)
						.then(res => {
							console.log(res);
							if(res.data.Code ==1){
								this.$Message.success('提交成功!请等待客服回复');
								this.$refs.form.reset();
								this.getChat(id);
							}
						})
						.catch(err => {
							console.log(err)
						})
							
					
					}
				},

				getChat(id){
					let postData = {
						Function: 'GetConsultation',
						id: id,
						page: 1,
						rows: 10,
						openid:this.phone
					};
					// postData = JSON.stringify(postData);
					Post('/api/Incubator/APIMethod', postData)
						.then(res => {
							console.log(res);
							this.chatList = res.data.data
						})
						.catch(err => {
							console.log(err)
						})
				},

				toLogin(){
					window.open('login.html','_self')
				},
				out() {
                    localStorage.removeItem('userInfo');
                    this.user = ''
                },

				checkStorage(){
					let userInfo = JSON.parse(localStorage.getItem('userInfo'));
					console.log(userInfo);
					if(userInfo){
					if(Date.now() - userInfo.time < 7200000){
						this.user = userInfo.user;
						this.phone = userInfo.phone
					}
					else localStorage.removeItem('userInfo');
					}
				}

			}
		})
	</script>
</body>

</html>