html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-y: auto;
}
body,
ul,
li,
a,
p,
div {
  /*慎删*/
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1380px) {
  body,
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  body,
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  body,
  html {
    font-size: 10px;
    font-size: 80%;
  }
}

// 首页

  .header {
    padding: 10px;
    width: 100%;
    // border-bottom: 1px solid red;
    .left {
      // border: 1px solid red;
      // background: #009688;
      
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        // width: 10vw;
        height: 3vw;
      }
    }
    .right {
      font-size: 1rem;
      height: 3vw;
      // border: 1px solid blue;
      
    }
    .login{
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3vw;
      span:hover{
        cursor: pointer;
        color: cornflowerblue
      }
    }
  }
  .vertical-center-modal{
    display: flex;
    align-items: center;
    justify-content: center;

    .ivu-modal{
        top: 0;
    }
}
  .box{
    box-sizing: border-box;
    padding: 0 12vw;
    
    .tab1{
      margin: 40px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .tab-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.8rem;
        color:#606266;
        line-height: 40px;
        height: 40px;
        span{
          font-size: 1rem;
          color: #303133
        }
      }
      .itemImg{
        padding: 10px;
        box-sizing: border-box
      }
    }
  }

  .card-body{
    .title{
      font-size: 1rem;
      color: black;
      font-weight: 500

    }
    .price{
      font-size: 1rem;
      color: red;
      font-weight: 500
    }
    .other{
      width: 50%;
    }
  }
  .border :hover{
		cursor: pointer;
  }
  .border{
    margin-bottom: 30px;
    
  }
  .noData{
    width: 100%;
    font-size: 1rem;
    color: #606266;
    text-align: center
  }
  .detail{
    box-sizing: border-box;
    padding: 20px;
    font-size: 1rem;
    color: #606266;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    video{
      height: 25vw;
    }
    .content{
      margin-top: 20px
    }
  }

  .demo-carousel img{
    display: flex;
    justify-content: center;
    align-items: center
}

  // news

  .box{
    .item{
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid white;
       
      .right{
        margin: 0 20px;
        padding: 5px 0;
        flex: 1;
        .title{
          font-size: 1.2rem;
          color: #303133
        }
        .p_time{
          padding: 5px;
          width: 40%;
          font-size:0.6rem;
          color: #606266;
          display: flex;
          justify-content: space-between;
        }
        .content{
          font-size:0.8rem;
          color: #5c5e61;
          overflow: hidden;
          word-break: break-all;
          box-sizing: border-box;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical
        }
      }
    }
    .item:hover{
      cursor: pointer;
      border:1px solid #afb2b8;
      border-radius: 10px
    }
  }

  // 新闻详情
  .box{
    .news{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .title{
        font-size: 1.2rem;
        color: #303133
      }
      .newsImg{
        max-height: 30vw;
        margin: 2vw 0;
        max-width: 36vw;
      }
      .news-detail{
        font-size: 1rem;
        letter-spacing: 1px;
        padding: 0 4vw;
        box-sizing: border-box
      }
    }
  }
  
  //科技链


  // 分割线
  .m-divider{
    width: 100%;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    p{
      flex: 1;
      border: 0.5px solid #e8eaec
    }
    span{
      width: auto;
      margin: 0 20px;
      color: cornflowerblue;
      font-size: 1rem;
      text-align: center
    }
  }
  
//企业服务

.box{
  .tab-title{
    font-size: 1rem;
  }
  .card{
    // height: 20vh;
    overflow-y: auto;
    display:flex;
    position: relative;
    // align-items: center;
    // justify-content: center;
    .title{
      font-size: 1.2rem;
      text-align: center;
      color: #303133;
      line-height: 50px;
      height: 40px;
      
    }
    .text-center{
      position: absolute;
      top: 20px;
      right: 20px;
    }
    img{
      border-radius: 10px;
      margin: 0 auto;
      max-height: 20vw
    }
    .link{
      margin-bottom: 15px;
      display:flex;
      justify-content: space-evenly;
      span{
        color: rgba(0,0,0,.54)
      }
    }
    .content{
      padding:0 20px 20px;
      box-sizing: border-box;
      font-size: 1rem;
      letter-spacing: 1px;
      color: #5c5e61
    }
  }
  
}
