@charset "UTF-8";
html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-y: auto;
}

body,
ul,
li,
a,
p,
div {
  /*慎删*/
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1380px) {
  body,
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  body,
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  body,
  html {
    font-size: 10px;
    font-size: 80%;
  }
}

@media screen and (max-width: 650px) {
  .box .tab1 .tab-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .row {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.v-tabs--grow > .v-tabs-bar .v-tab {
  font-size: 1.2rem;
  font-weight: 600;
}

.menu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu1 a {
  /* margin: 0 15px; */
  font-size: 1.2rem;
  padding: 10px 15px;
}

.menu1 a:hover {
  background: #4caf50;
  border-radius: 10px;
  color: white;
}

.active {
  background: #4caf50;
  border-radius: 10px;
  color: white;
}

.m-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#canvas {
  width: 100px;
  height: 35px;
}

.header {
  width: 100%;
  background: darkslateblue;
  margin: 0 0 10px 0;
}

.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.header .left .logo {
  max-height: 60px;
  border-radius: 5px;
}

.header .right {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .login {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .login span:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.vertical-center-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vertical-center-modal .ivu-modal {
  top: 0;
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1vw;
  overflow-y: auto;
}

.box .tab1 {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .tab1 .tab-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8rem;
  color: #606266;
  line-height: 3.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .tab1 .tab-title span {
  font-size: 1.2rem;
  color: #303133;
}

.box .tab1 .itemImg {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box .head {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-body {
  width: 100%;
}

.card-body .title {
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  text-align: center;
}

.card-body .price {
  font-size: 1rem;
  color: red;
  font-weight: 500;
}

.card-body .m-margin {
  margin: 15px 0;
}

.card-body .other {
  width: 50%;
}

.border :hover {
  cursor: pointer;
}

.border {
  margin-bottom: 30px;
  margin: 10px;
}

.noData {
  width: 100%;
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  color: #606266;
  text-align: center;
}

.detail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  font-size: 1rem;
  color: #606266;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail video {
  width: 100%;
  height: 25vw;
}

.detail .content {
  margin-top: 20px;
}

.detail .img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail .img img {
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
}

.demo-carousel img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
}

.box .item .right {
  margin: 0 20px;
  padding: 5px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box .item .right .title {
  font-size: 1.2rem;
  color: #303133;
  font-weight: 600;
}

.box .item .right .p_time {
  padding: 5px;
  font-size: 0.6rem;
  color: #606266;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .item .right .content {
  font-size: 0.8rem;
  color: #5c5e61;
  overflow: hidden;
  word-break: break-all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.box .item:hover {
  cursor: pointer;
  border: 1px solid #afb2b8;
  border-radius: 10px;
}

.box .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.box .news .title {
  font-size: 1.2rem;
  color: #303133;
  font-weight: 600;
}

.box .news .newsImg {
  max-height: 30vw;
  margin: 2vw 0;
  max-width: 36vw;
}

.box .news .news-detail {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0 4vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-divider {
  width: 100%;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.m-divider p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0.5px solid #e8eaec;
}

.m-divider span {
  width: auto;
  margin: 0 20px;
  color: cornflowerblue;
  font-size: 1rem;
  text-align: center;
}

.box .tab-title {
  font-size: 1rem;
}

.box .card {
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.box .card .title {
  font-size: 1.2rem;
  text-align: center;
  color: #303133;
}

.box .card .text-center {
  position: absolute;
  top: 20px;
  right: 20px;
}

.box .card img {
  border-radius: 10px;
  margin: 0 auto;
  max-height: 20vw;
}

.box .card .link {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.box .card .link span {
  color: rgba(0, 0, 0, 0.54);
}

.box .card .content {
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #5c5e61;
}

.chat {
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.chat .message-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chat .message-item .content {
  max-width: 80%;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.chat .message-item.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 3px 0;
  color: #606266;
}

.chat .message-item.right .content {
  background-color: darkseagreen;
  margin-right: 9px;
  word-break: break-all;
  line-height: 20px;
  position: relative;
}

.chat .message-item.right .content::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid darkseagreen;
  position: absolute;
  right: -8px;
  top: 15px;
}

.chat .message-item.left {
  padding: 3px 0;
  color: #606266;
}

.chat .message-item.left .content {
  background-color: #bdcdee;
  margin-left: 9px;
  word-break: break-all;
  line-height: 20px;
  position: relative;
}

.chat .message-item.left .content::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 8px solid #bdcdee;
  position: absolute;
  left: -8px;
  top: 15px;
}

.login1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

.login1 .login-pannel {
  position: absolute;
  max-width: 600px;
}

.mask {
  /* pointer-events: none; */
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: white;
  font-size: 1rem;
  color: #555555;
}

.mask image {
  width: 50px;
  height: 50px;
}

/* loading加载动画的css */
.loader {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 35px;
  display: inline-block;
  vertical-align: middle;
}

.loading8 {
  border: 4px dotted red;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: dotted-spin 1s linear infinite;
  animation: dotted-spin 1s linear infinite;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 0, 0.3);
  border-left-width: 2px;
  border-left-color: rgba(255, 255, 0, 0.5);
  border-top-width: 3px;
  border-right-width: 4px;
  border-top-color: rgba(255, 255, 0, 0.7);
}

.loading8 .loader-pacman,
.loader-pacman {
  position: absolute;
  top: 20px;
  left: 12px;
  width: 0px;
  height: 0px;
  border-right: 6px solid transparent;
  border-top: 6px solid red;
  border-left: 6px solid red;
  border-bottom: 6px solid red;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@-webkit-keyframes dotted-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes dotted-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.require-box {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.require-box p {
  margin: 20px 0;
  font-size: 1.5rem;
  color: cornflowerblue;
}

.require-box .form {
  max-width: 600px;
  border: 1px solid wheat;
}

@media screen and (max-width: 600px) {
  .form {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */